<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/fonts/fontawesome-free-5.15.2-web/css/all.min.css">
</head>
<body>
    <div class="main">
        <header class="header">
            <div class="header_top">
                <img class="header_advertisement-img" src="assets/img/header-top-img.png" alt="" class="header_navbar_img">
            </div>

            <nav class="header__navbar-center">
                <ul class="header__navbar-list">
                    <li class="header__navbar-item">
                        <a href="" class="header_navbar-item-link">
                            <i class="fas fa-user-tie"></i>
                            <span class="header_navbar-item-span">Khách hàng doanh nghiệp</span>
                        </a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="" class="header_navbar-item-link">
                            <i class="far fa-building"></i>
                            <span class="header_navbar-item-span">  Hệ Thống Showroom</span>
                        </a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="" class="header_navbar-item-link">
                            <i class="fas fa-headset"></i>
                            <span class="header_navbar-item-span">  Tư Vấn Mua Hàng:</span>
                            <span class="header_navbar-item-phone">1800 9999</span>
                        </a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="" class="header_navbar-item-link">
                            <i class="fas fa-headset"></i>
                            <span class="header_navbar-item-span">  CSKH:</span>

                            <span class="header_navbar-item-phone">1800 9999</span>
                        </a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="" class="header_navbar-item-link">
                            <i class="far fa-newspaper"></i>
                            <span class="header_navbar-item-span">  Tin Công Nghệ</span>
                        </a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="" class="header_navbar-item-link">
                            <i class="fas fa-wrench"></i>
                            <span class="header_navbar-item-span">   Xây Dựng Cấu Hình</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="header__navbar-bottom">
                <div class="grid header__navbar-bottom-g">
                    <div class="header__navbar-logo">
                        <img class="header_logo-img" src="/assets/img/logo2.png" alt="logo">
                    </div>

                    <div class="header__navbar-search">
                        <input type="text" class="header__navbar-search-input" placeholder="Nhập Từ Khóa Cần Tìm">
                        <div class="header__navbar-search-button">
                            <i class="fas fa-search header_search-icon"></i>
                        </div>
                    </div>

                    <div class="header__navbar-button">
                        <ul class="header__navbar-list">
                            <li class="header__navbar-list-item">
                                <a class="header_nav-item-link">
                                    <i class="fas fa-gift header_button-promotion-icon"></i>
                                    <span>Khuyến mãi</span>
                                </a>
                            </li>
                            <li class="header__navbar-list-item">
                                <a class="header_nav-item-link">
                                    <i class="fas fa-receipt   header_button-order-icon"></i>
                                    <span>Đơn hàng</span>
                                </a>
                            </li>
                            <li class="header__navbar-list-item">
                                <a class="header_nav-item-link">
                                    <i class="fas fa-user-tie  header_button-Login-icon"></i>
                                    <span>Đăng nhập</span>
                                </a>
                            </li>
                            <li class="header__navbar-list-item header_notify-hover">
                                <div class="header_cart">
                                    <a class="header_nav-item-link">
                                        <i class="fas fa-shopping-cart  header_button-Cart-icon"></i>
                                        <span>Giỏ hàng</span>
                                    </a>
                                </div>
                                <div class="header_notify">
                                    <ul class="header_notify-list">
                                        <li class="header_notify-item">
                                            <div class="header_notify-img">
                                                <img src="/assets/img/laptop/l1.jpg" alt="" class="header_notify-thumb">
                                            </div>
                                            <div class="header_notify-info">
                                                <a href="" class="header_notify-info-link">
                                                    <h3 class="header_notify-name">
                                                        Ổ cứng HDD WD My Passport 1TB 2.5", 3.2 (WDBYVG0010BWT-WESN) (Trắng)
                                                    </h3>
                                                </a>
                                                <div class="header_notify-price">
                                                    <span class="header_notify-price-quantity">Số Lượng:1</span>
                                                    <span class="header_notify-price-number">1.700.000đ</span>
                                                </div>
                                                <div class="header_notify-promotion">
                                                    <img src="/assets/img/laptop/l1.jpg" alt="" class="header_notify-promotion-img">
                                                    <span class="header_notify-promotion-title">x1 Hộp Bảo Vệ Ổ Cứng WD</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="header_notify-item">
                                            <div class="header_notify-img">
                                                <img src="/assets/img/laptop/l1.jpg" alt="" class="header_notify-thumb">
                                            </div>
                                            <div class="header_notify-info">
                                                <a href="" class="header_notify-info-link">
                                                    <h3 class="header_notify-name">
                                                        Ổ cứng HDD WD My Passport 1TB 2.5", 3.2 (WDBYVG0010BWT-WESN) (Trắng)
                                                    </h3>
                                                </a>
                                                <div class="header_notify-price">
                                                    <span class="header_notify-price-quantity">Số Lượng:1</span>
                                                    <span class="header_notify-price-number">1.700.000đ</span>
                                                </div>
                                                <div class="header_notify-promotion">
                                                    <img src="/assets/img/laptop/l1.jpg" alt="" class="header_notify-promotion-img">
                                                    <span class="header_notify-promotion-title">x1 Hộp Bảo Vệ Ổ Cứng WD</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="header_notify-pay">
                                        <div class="header_notify-pay-total">
                                            <span class="header_notify-pay-quantity">
                                                Tổng Tiền (4 sản phẩm):
                                            </span>
                                            <span class="header_notify-pay-price">
                                                50.000.000đ
                                            </span>
                                        </div>
                                        <div class="header_notify-pay-ship">
                                            <span class="header_notify-pay-quantity">
                                                Phí Vận Chuyển:
                                            </span>
                                            <span class="header_notify-pay-price">
                                                0đ
                                            </span>
                                        </div>
                                        <div class="header_notify-pay-button">
                                            <a href="" class="header_notify-pay-button-link">Xem Giỏ Hàng</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        </header>

        @RenderBody()

        <footer class="footer"></footer>
    </div>
</body>
</html>