﻿
@media print {
    @page {
        size: 3.1496062992in 11.692913386in;
        margin: 0px;
    }

    .footer {
        page-break-after: always;
    }
}

.logo {
    margin-left: 10px;
}

.header {
    margin-left: 60px;
    margin-top: 20px;
}

    .header > h6 {
        margin-bottom: 0px;
    }

.title {
    margin-left: 5px;
    margin-top: 40px;
}

.date {
    color: black;
    margin-top: -17px;
    font-size: 0.5em;
    font-weight: bold;
}

.shift-title {
    font-size: 1em;
}

.shift-content {
    font-size: 1.2em;
}

.footer {
    color: black;
    text-align: center;
    font-size: 0.6em;
}

.large-content {
    text-align: center;
    font-size: 3em;
    margin-top: 0px;
    font-weight:bold;
    margin-bottom: 0px;
}

/* .barcode {
    margin-left: 110px;
}

.barcode > canvas {
    width: 150px;
    height: 50px;
} */

.large-content-box {
    text-align: center;
    font-size: 1.4em;
    margin-top: 0px;
    font-weight:bold;
    margin-bottom: 0px;
}